.transaction-history {
  /* display: block; */
  flex-flow: column;
  justify-content: space-between;
  width: 350px;
  table-layout: fixed;
  margin-left: 30px;
  margin-bottom: 40px;
  border: 1px solid wheat;
  border-collapse: collapse;
  box-shadow: 0 0 10px rgba(253, 252, 252, 0.5);
}
